*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
}

.dice{
    display: inline-block;
    margin: auto;
    margin: 50px;
}

.container{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

body{
    background-color: rgb(51, 51, 119);
}

h1{
    margin: 10px;
    color: yellow;
    text-shadow: 5px 5px white;
    font-size: 6rem;
}

#btn{
    font-size: 2rem;
    background-color: rgb(155, 53, 53);
    text-shadow: 3px 0 white;
    box-shadow: 2px 2px 3px white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#btn1{
    font-size: 2rem;
    background-color: rgb(155, 53, 53);
    text-shadow: 3px 0 white;
    box-shadow: 2px 2px 3px white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#loadBtn{
    padding: 10px 20px 10px 20px;
    background: grey;
    text-shadow: 3px 0 white;
    box-shadow: 2px 2px 3px white;
    cursor: pointer;
}

p{
    color:  white;
    font-size: 1.5rem;
}

@media(max-width:645px){
    .dice{
       margin: 0;
       padding: 10px;
    }
    img{
        width: 150px;
        height: 150px;
    }
    
}

@media(max-width:343px){
    .dice{
       margin: 0;
       padding: 10px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    #btn, #btn1{
        font-size: .5rem;
    }
    #loadBtn{
        padding: 2px;
    }
    
}
